<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home_page (Built to get inputs from user for prediction using LR model</title>
</head>
<body>
    <div class="Body_content">
        <h2>Welcome!! Lets Predict your chance of Admission</h2><br><br>
        <div class="input_requests">
            <h3>Provide following info of yours to predict Chance of Admit</h3><br><br>
            <div class="request_form">
                <form action="/ip_predict" method="POST">
                    <label for="gre_score">GRE Score</label>
                    <input type="text" id="gre_score" name="gre_score"><br><br>

                    <label for="toefl_score">TOEFL Score</label>
                    <input type="text" id="toefl_score" name="toefl_score"><br><br>

                    <label for="university_rating">University Rating</label>
                    <input type="text" id="university_rating" name="university_rating"><br><br>

                    <label for="sop">SOP</label>
                    <input type="text" id="sop" name="sop"><br><br>

                    <label for="lor">LOR</label>
                    <input type="text" id="lor" name="lor"><br><br>

                    <label for="cgpa">CGPA</label>
                    <input type="text" id="cgpa" name="cgpa"><br><br>

                    <label for="research">Research</label>
                    <input type="text" id="research" name="research"><br><br>

                    <input type="submit" value="Submit">

                </form>
            </div>
        </div>
    </div>
</body>
</html>