<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This page takes input for </title>
</head>
<body>
    <div class = "content">
        <div class = "form">
            <h2> Select the variable values </h2>
            <h3> this is harshal developing this website</h3>
            <form action=" /maths" method = "POST" >
                <label for="operation"> Select an operation, (Add/Subtract)</label>
                <select id="operation" name="operation">
                    <option value="add"> Add </option>
                    <option value="subtract"> Subtract </option>
                </select> <br> <br>
                <label for="num1"> Select first number </label>
                <input type="text" id="num1" name="num1"><br><br>
                <label for="num2">Select second number </label>
                <input type="text" id="num2" name="num2"><br><br>
                <input type="submit" value="Submit">
            </form>


        </div>
    </div>
</body>
</html>
